body{
    font-family: "proxima-nova", sans-serif;
}

#intro{
    padding: 0.5vh 10vw 0 10vw;
    font-family: "proxima-nova", sans-serif;
    line-height: 72px;
    vertical-align: baseline;
    text-align: center;
}
#intro h1{
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
    letter-spacing: 10px;
}

h1:hover{
    color: burlywood;
    text-decoration: underline;
}

#intro #quote{
    line-height: 30px;
}
#intro a {
    color: black;
    text-decoration: none;
}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navigation p{
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "proxima-nova", sans-serif;
}

#navigation :hover{
    color: burlywood;
    text-decoration: underline;
}

#navigation p a{
    color: black;
    text-decoration: none;
}

#footer{
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
}

#footer p{
    text-align: center;
}

#content #content-courses p{
    font-size: larger;
}

#content #content-courses li{
    list-style: none;
    line-height: 50px;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

#content #content-courses li i{
    margin: 0px 20px 0px 20px;
}

i{
    margin: 0px 20px 0px 20px; 
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content-courses {
    margin-top: 30px;
    width: 60vw;
}